{{define "title"}}
	Debt List
{{end}}

{{define "head"}}
<script src="/assets/core/js/debt.js"></script>
{{end}}

{{define "content"}}
<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="tanggal" class="col-sm-2 control-label">Tanggal</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id ="tanggal" data-bind="kendoDatePicker: DebtModel.Model.data.Tanggal" placeholder="tanggal"/>
				</div>
			</div>
			<div class="form-group">
				<label for="keterangan" class="col-sm-2 control-label">Keterangan</label>
				<div class="col-sm-10">
					<textarea class="form-control" id="keterangan" data-bind="value: DebtModel.Model.data.Ket" placeholder="keterangan"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="harga" class="col-sm-2 control-label">Debt</label>
				<div class="col-sm-10 hargabox">
					<div class="col-sm-1">
						<span>Rp.</span>
					</div>
					<div class="col-sm-11 nopadding">
						<input type="number" class="form-control" id="harga" data-bind="value: DebtModel.Model.data.Debt" placeholder="Harga">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="submit" class="btn btn-primary col-sm-12" value="masukan" data-bind="click: DebtModel.Save">
				</div>
			</div>
		</form>
	</div>
</div>
<!-- <div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th>Tanggal</th>
					<th>Keterangan</th>
					<th>Harga</th>
					<th>Action</th>					
				</tr>
			</thead>
			<tbody data-bind="foreach: IndexModel.dataAttr.shopList">
				<tr>
					<td data-bind="text: Toolkit.convertDate($data.Tanggal)"></td>
					<td data-bind="text: Keterangan"></td>
					<td data-bind="text: Harga"></td>
					<td><button class="btn btn-info" data-bind="click: IndexModel.editShop($index())"><i class="fa fa-edit"></i></button><button class="btn btn-danger" data-bind="click: IndexModel.deleteShop($data.Id)"><i class="fa fa-trash"></i></button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div> -->
{{end}}